.element__like{
    background-image: url('../../../images/like.svg');
    min-width: 22px;
    min-height: 19px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
}

.element__like:hover{
    opacity: 0.5;
}

.element__like:active{
    background-image: url('../../../images/Union.svg');
    opacity: 1;
}
