.element__like{
    background-image: url(../../images/like.svg);
    min-width: 22px;
    min-height: 19px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}