.popup__form {
    min-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 34px 40px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 425px) {
    .popup__form {
        padding: 25px 22px;
        min-width: 0;
    }
}
